
.bodycol {
    color: blue;
    background-color: brown;
}

.eeee {
    color: blue;
    background-color: rgb(191, 111, 111);
}

.uiui {
    color: blue;
    background-color: rgb(71, 42, 165);
    }